 <!--Begin Footer-->
<div class="footer fix-temp">
    <div class="clear"></div>
    <!--Line Break-->
    <div class="line"></div>

    <div class="left">
        <p class="bold">Bản quyền thuộc về Công ty TNHH Mạnh Tưởng</p>
        <p class="bold">
            Địa chỉ: <span>Số 1 Bãi xe đầu Đường cao tốc Pháp Vân, Quận Hoàng Mai, Hà Nội</span><br />
            Địa chỉ nhà riêng: <span>Số 5 Ngõ 48, phố Chùa Hà, phường Quan Hoa, quận Cầu Giấy, Hà nội</span><br />
            Điện thoại: <span>04.3681.5566</span> - Fax: <span>04.3681 4358 </span><br />
            Email:<span> <a href="#"> caumanhtuong@gmail.com </a> <a href="#"> vantaimanhtuong@yahoo.com</a></span><br />
            Website:<span><a href="#"> www.cauvanchuyen.com</a> - <a href="#">www.cauvanchuyen.net</a> - <a href="#">www.caumanhtuong.com</a> </span>
        </p>
    </div>
    <div class="right">
        <div class="sharing">
            <a class="facebook" href="#"></a>
            <a class="google" href="#"></a>
            <a class="youtube" href="#"></a>
            <a class="twitter" href="#"></a>
            <a class="vging" href="#"></a>
        </div>
        <div class="more">Đối tác thiết kế: <b>vGing</b></div>
    </div>
</div>
<div class="clear"></div>
<!--End Foooter-->
