
 <!-- Begin header-->
<div class="header">
    <div class="fix-temp">
        <div class="hr-logo">
            <a href="#"><img src="~/Content/images/logo.gif.png"></a>
        </div>
        <div class="text-header">
            <p class="title-header">Công ty TNHH Mạnh Tưởng</p>
            <p class="content-header">
                Địa chỉ: Số 1 Bãi xe đầu Đường cao tốc Pháp Vân, Quận Hoàng Mai, Hà Nội<br />
                Điện thoại: 04.3681.5566 - Fax: 04.3681 4358
            </p>
        </div>
        <div class="clear"></div>
    </div>

</div>
<!--End Header-->