 <!--Begin tabMenu-->
<div id="tabMenu">
    <div class="fix-temp">
        <div class="tab-left">
            <ul>
                <li><a href="#" class="css"><span>Trang chủ</span></a></li>
                <li><a href="#" class="css"><span>Giới thiệu</span></a></li>
                <li class="news-dropdown" id="new1">
                    <a href="#" class="css"><span>Dịch vụ <i class="caret"> </i></span></a>
                    <div class="submenu" id="new11" style="display:none">
                        <a href="#" class="sub">Vận chuyển hàng hóa bằng xe tải bắc nam</a>
                        <a href="#" class="sub">Vận chuyển ký gửi hàng hóa bằng xe tải bắc nam</a>
                        <a href="#" class="sub">Vận chuyển bằng xe cẩu tự hành từ 2.5 tấn, 5 tấn, 8 tấn. 10 tấn, 12 tấn, 15 tấn</a>
                        <a href="#" class="sub">Cho thuê cẩu chuyên dụng: 25, 40, 50, 70, 100, 150 tấn, cẩu máy móc thiết bị</a>
                        <a href="#" class="sub">Vận chuyển xe chuyên dụng xe phóc ,somy, máy công …</a>
                        <a href="#" class="sub">Cho thuê xe nâng, chuyên xưởng, từ xưởng, đến xưởng</a>
                    </div>
                </li>
                <li class="news-dropdown" id="new2">
                    <a href="#" class="css"><span>Tin tức <i class="caret"> </i></span></a>
                    <div class="submenu" id="new22" style="display:none">
                        <a class="sub" href="#">Tin hoạt động công ty</a>
                        <a class="sub" href="#">Tin tức vận tải</a>
                    </div>

                </li>
                <li><a href="#" class="css"><span>Thư viện ảnh</span></a></li>
                <li><a href="#" class="css"><span>Liên hệ</span></a></li>
            </ul>
        </div>

        <div class="tab-right">
            <form class="form-search">
                <input type="text" placeholder="Nhập từ cần tìm" class="textbox" />
                <input type="submit" value="" class="submit" />
            </form>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--End TabMenu-->
